<div class="container col-xxl-8 px-4 py-5 py-lg-10" id="affiliations">
  <div class="p-3 pb-md-4 text-center">
    <h2 class="h1 text-uppercase">{{site.data.hometext.affiliations.title}}</h2>
  </div>
  {% for item in site.data.hometext.affiliations.list %}
  <div class="border-bottom d-md-flex align-items-center justify-content-between p-4 py-md-7">
    <p class="fs-5 mb-0 pb-4 pb-md-0">
      {{item.text}}
    </p>
    <span class="text-uppercase">{{item.period}}</span>
  </div>
  {% endfor %}
</div>
<!-- End of Affiliation -->
